@font-face {
  font-family: marioFont;
  src: url(mario.ttf);
}
body, html {
  height: 100%;
  margin: 0;
  overflow: hidden;
}
h1 {
  font-family: marioFont;
  text-align: center;
  color: #008000;
  margin: 0;
  padding-top: 4vh;
  letter-spacing: 3px;
  text-shadow: 5px 5px 10px #33cc33;
  animation: pulsate 0.75s linear 0s infinite;
  /* animation: 1.5s pulsate infinite; */
}
h2 {
  font-family: marioFont;
  color: green;
  padding-left: 10px;
  display: none;
}
span {
  font-size: 24px;
  font-weight: bold;
  font-family: marioFont;
  color: green;
  padding-left: 10px;
}
.bg {
  /* background-image: linear-gradient(60deg, red, yellow); */
  background-image: url("background.svg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.alive {
  position: absolute;
  width: 200px;
  left: calc(50% - 100px);
  animation: example 1.2s linear 0s infinite;
}
.box {
  display: none;
  align-items:center;
}
.sound {
  height: 60px;
}
.footer{
  position: absolute;
  font-family: marioFont;
  color: green;
  bottom: 1vh;
  left: calc(50% - 120px);
}
.score {
  padding-top: 2vh;
}
@keyframes example {
  0%   {top:34vh;}
  50%  {top:46vh;}
  100% {top:34vh;}
}
@keyframes pulsate {
  50%{text-shadow: 5px 5px 10px black;}
}
